openapi: 3.1.0
info:
  title: DeepInfra Inference Audio API
  description: OpenAI-compatible inference API for DeepInfra's 100+ open-source models. Covers chat completions, text completions, embeddings, audio (transcriptions, translations, text-to-speech), image generation, and model listing. Authenticated with a Bearer API token.
  version: 1.0.0
servers:
- url: https://api.deepinfra.com/v1/openai
  description: OpenAI-compatible base URL
- url: https://api.deepinfra.com
  description: DeepInfra native base URL
security:
- bearerAuth: []
tags:
- name: Audio
paths:
  /audio/transcriptions:
    post:
      tags:
      - Audio
      summary: Transcribe audio to text (Whisper)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              - model
              properties:
                file:
                  type: string
                  format: binary
                model:
                  type: string
                language:
                  type: string
                prompt:
                  type: string
                response_format:
                  type: string
                  enum:
                  - json
                  - text
                  - srt
                  - verbose_json
                  - vtt
                temperature:
                  type: number
      responses:
        '200':
          description: Transcription
          content:
            application/json:
              schema:
                type: object
  /audio/translations:
    post:
      tags:
      - Audio
      summary: Translate audio into English text
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              - model
              properties:
                file:
                  type: string
                  format: binary
                model:
                  type: string
                prompt:
                  type: string
                response_format:
                  type: string
                temperature:
                  type: number
      responses:
        '200':
          description: Translation
          content:
            application/json:
              schema:
                type: object
  /audio/speech:
    post:
      tags:
      - Audio
      summary: Synthesize text to speech
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - model
              - input
              properties:
                model:
                  type: string
                input:
                  type: string
                voice:
                  type: string
                response_format:
                  type: string
                  enum:
                  - mp3
                  - opus
                  - aac
                  - flac
                  - wav
                  - pcm
                speed:
                  type: number
      responses:
        '200':
          description: Audio bytes
          content:
            audio/mpeg: {}
            audio/wav: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: DeepInfra API token (DEEPINFRA_TOKEN) sent as a Bearer token.
